{% extends 'cadavre-base.html.twig' %}

{% block title %}Chapitre{% endblock %}

{% block body %}
    <section class="container">
        <h1>Chapitre</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapter.number }}</td>
            </tr>
            <tr>
                <th>Introduction</th>
                <td>{{ chapter.introduction }}</td>
            </tr>
            <tr>
                <th>Conclusion</th>
                <td>{{ chapter.conclusion }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ chapter.code }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('chapter_index') }}">Revenir à la liste des chapitres</a>

        <a href="{{ path('chapter_edit', {'id': chapter.id}) }}">Modifier</a>

        {{ include('chapter/_delete_form.html.twig') }}
    </section>

{% endblock %}
