{% extends 'base.html.twig' %}

{% block title %}Chapter{% endblock %}

{% block body %}
    <h1>Chapter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapter.id }}</td>
            </tr>
            <tr>
                <th>Introduction</th>
                <td>{{ chapter.introduction }}</td>
            </tr>
            <tr>
                <th>Conclusion</th>
                <td>{{ chapter.conclusion }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ chapter.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chapter_index') }}">back to list</a>

    <a href="{{ path('chapter_edit', {'id': chapter.id}) }}">edit</a>

    {{ include('chapter/_delete_form.html.twig') }}
{% endblock %}
