
<section class="video-fond">

    <video controls class="video" disableremoteplayback="" poster="" preload="auto" data-object-fit="" autoplay="" playsinline="" muted="" loop="" data-was-processed="true">
        <!-- Source vidéo par défaut -->
        <source type="video/webm" src="pictures/cdf-videGrenier4quar.mp4" media="(orientation: landscape)">
    </video>

    <div class="text-wrapper">
        <p>Vide grenier de Villereau</p>
        <p>27 - 06 - 2021</p>
        <p>
            {#
            <div class="annule maj">ANNULé pour cause de CONFINEMENT</div>
            <div class="annule">Mais vous pouvez participer à l'écriture d'une histoire de Pâques ! Lisez ci dessous</div>
            #}
        </p>

        <div class="button-panel">
            <button class="btn btn-primary" data-toggle="modal" data-target="#infoModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                Infos pratiques
            </button>

            <button class=" btn btn-primary" data-toggle="modal" data-target="#activityModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                </svg>
                Activités sur place
            </button>
        </div>
    </div>

</section>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="modal with info about event" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ml-5 mr-5">
                <h2 class="modal-title" id="exampleModalLabel">Informations pratiques</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column ml-5 mr-5">
                <ul>
                    <li>Sur le terrain de foot, derrière la salle des fêtes de Villereau</li>
                    <li>Les exposants peuvent garder leur véhicule sur leur stand pourvu qu'ils aient reservé une place assez longue</li>
                    <li>Parking visiteur face à la mairie ou sur le parking rue du bourg</li>
                    <li>WC à disposition des exposants</li>
                    <li>Tarif particulier : 2€ le mètre</li>
                    <li>Tarif professionnel : 4€ le mètre</li>
                    <li>Les règlements peuvent être envoyés à "Comité des fêtes de Villereau, 11 rue Meslée, 45170 Villereau". La boite aux lettres est située devant la mairie.</li>
                    <li>Buvette et Restauration sur place. Professionnels de l'alimentaire à consommer sur place interdits.</li>
                    <li>Mesures de distanciation sanitaires en vigueur applicables. Merci de vous munir d'un masque et de gel hydroalcoolique.</li>
                </ul>
                <a class="btn btn-primary mr-auto ml-auto" href="{{ path('contact') }}">Hey ! J'ai des questions</a>
                <a class="btn btn-primary mr-auto ml-auto" href="https://www.cdf-villereau.fr/content/vide-grenier-2021">Plus</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="modal with activity of that event" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ml-5 mr-5">
                <h2 class="modal-title" id="exampleModalLabel">Activités</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column ml-5 mr-5">

                <h2 class="deco">
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="#ce2c44" width="30" height="30" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    Vide-grenier</h2>
                <p>Venez découvrir les curiosités et bonnes affaires de nos exposants sur le vide-grenier.</p>

                <h2 class="deco">
                    <svg id="Layer_1"  fill="#ce2c44" enable-background="new 0 0 512.01 512.01" height="30px" viewBox="0 0 512.01 512.01" width="30px" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m437.025 74.981c-48.352-48.353-112.64-74.981-181.02-74.981s-132.668 26.628-181.019 74.981c-48.353 48.352-74.981 112.64-74.981 181.02 0 76.337 33.412 147.579 91.865 196.428l-5.844 21.81c-2.068 7.718-.997 15.799 3.018 22.752s10.477 11.922 18.195 13.99c2.591.694 5.194 1.026 7.758 1.026 13.244-.001 25.397-8.852 28.984-22.238l.837-3.124c34.478 16.619 72.666 25.357 111.187 25.357 38.417 0 76.595-8.756 111.174-25.409l.851 3.176c2.068 7.719 7.036 14.181 13.989 18.195 4.64 2.678 9.78 4.047 14.98 4.047 2.594 0 5.204-.341 7.772-1.029 15.978-4.281 25.494-20.763 21.214-36.741l-5.843-21.805c27.774-23.228 50.665-52.542 66.403-85.139 16.656-34.499 25.46-72.984 25.46-111.294.001-68.382-26.628-132.67-74.98-181.022zm-324.611 416.682c-2.559-.686-4.707-2.345-6.051-4.671-1.343-2.327-1.705-5.017-1.02-7.575l41.41-154.548c.686-2.558 2.345-4.707 4.672-6.05 1.558-.899 3.277-1.359 5.013-1.359.856 0 1.717.112 2.563.339h.001c2.559.686 4.708 2.345 6.051 4.672 1.344 2.327 1.706 5.017 1.021 7.575l-41.411 154.548c-1.428 5.323-6.922 8.493-12.249 7.069zm96.271-243.375-2.588 9.659c-1.428 5.327-6.924 8.495-12.247 7.071l-19.312-5.175c-.002-.001-.005-.002-.007-.002s-.005-.001-.007-.001l-19.312-5.175c-2.558-.686-4.706-2.345-6.05-4.671-1.344-2.327-1.706-5.017-1.021-7.576l2.588-9.659zm47.32 243.713c-36.794 0-73.252-8.642-105.911-25.049l12.228-45.634c28.486 16.182 60.609 24.682 93.683 24.682 33.025 0 65.142-8.506 93.678-24.701l12.219 45.602c-32.767 16.441-69.214 25.1-105.897 25.1zm88.037-130.391c-2.562.685-5.25.323-7.576-1.02s-3.985-3.492-4.671-6.051l-31.059-115.911c-3.439-12.837-1.644-26.298 5.058-37.905 4.989-8.641 12.229-15.442 20.899-19.772l46.327 172.895zm55.554 130.053c-2.562.686-5.251.323-7.577-1.02s-3.985-3.492-4.671-6.051l-28.47-106.251 19.32-5.177 28.47 106.251c1.426 5.326-1.746 10.82-7.072 12.248zm14.79-60.714-13.838-51.645c29.348-34.389 45.458-77.974 45.458-123.303 0-86.926-58.753-162.632-142.875-184.104-5.356-1.367-10.798 1.866-12.163 7.216-1.366 5.351 1.865 10.797 7.216 12.163 75.26 19.21 127.822 86.948 127.822 164.726 0 35.799-11.234 70.38-31.926 99.162l-50.917-190.02c-1.43-5.334-6.914-8.503-12.247-7.071-37.283 9.99-59.487 48.449-49.497 85.732l31.059 115.911c2.067 7.719 7.036 14.181 13.989 18.195 3.945 2.278 8.252 3.608 12.65 3.956l5.197 19.394c-26.631 16.205-57.014 24.741-88.308 24.741-31.35 0-61.741-8.53-88.313-24.723l17.7-66.057c2.068-7.718.996-15.798-3.018-22.751-2.278-3.945-5.344-7.249-8.98-9.749l5.62-20.972 9.66 2.588c2.591.694 5.193 1.025 7.757 1.025 13.244 0 25.397-8.852 28.984-22.238l5.157-19.248c.007-.024.014-.047.02-.071.007-.024.013-.048.019-.072l15.511-57.884c1.43-5.335-1.736-10.818-7.071-12.248-5.336-1.43-10.817 1.737-12.247 7.071l-12.941 48.297-19.318-5.176 12.941-48.297c1.43-5.335-1.736-10.818-7.071-12.248-5.337-1.432-10.817 1.737-12.247 7.071l-12.941 48.297-19.319-5.177 12.94-48.296c1.43-5.335-1.736-10.818-7.071-12.248-5.337-1.431-10.817 1.737-12.247 7.071l-15.502 57.855c-.01.033-.019.066-.027.1-.009.034-.018.067-.026.101l-5.149 19.218c-2.068 7.719-.997 15.799 3.019 22.753 4.015 6.953 10.476 11.921 18.194 13.989l9.66 2.588-5.62 20.972c-4.399.347-8.706 1.675-12.65 3.953-6.954 4.015-11.922 10.477-13.99 18.195l-9.506 35.476c-20.691-28.769-31.925-63.355-31.925-99.167 0-77.775 52.56-145.512 127.815-164.724 5.352-1.366 8.582-6.812 7.216-12.163s-6.807-8.578-12.163-7.216c-84.119 21.475-142.868 97.18-142.868 184.103 0 45.345 16.109 88.939 45.457 123.306l-13.835 51.632c-49.504-44.758-77.623-107.705-77.623-174.938-.004-130.13 105.866-236 235.997-236s236.001 105.87 236.001 236.001c0 67.303-28.117 130.245-77.62 174.948z"/><path d="m256.005 66.001h-.007c-5.522 0-9.996 4.477-9.996 10s4.48 10 10.003 10 10-4.477 10-10-4.477-10-10-10z"/></g></g></svg>
                    Restauration</h2>
                <img class="align-self-center w-75 img-responsive m-3"
                     src="{{ asset('/pictures/guinguette.jpg') }}"
                     alt="Illustration de guinguette">
                <p>La restauration se fait dans une ambiance de guinguette. Nappes vichy, DJ et accordéon accompagneront vos discussions entre amis autour d'un raffraichissement bien mérité. Jocelyne, l'accordéoniste sera présente entre 11h30 et le début d'aprés midi.</p>

                <h2 class="deco">
                    <svg height="30px" width="30px" fill="#ce2c44" viewBox="0 -9 511.99933 511" xmlns="http://www.w3.org/2000/svg">
                        <path d="M362.763,164.242c-14.88-11.92-38.16-18.16-67.04-18.64c23.12-12.32,39.52-27.04,47.28-43.12
                            c6.001-11.497,6.296-25.134,0.8-36.88c-5.356-11.908-15.544-20.961-28-24.88c-9.141-2.686-18.783-3.206-28.16-1.52
                            c-2.66-9.225-7.457-17.694-14-24.72c-8.75-9.359-21.029-14.613-33.84-14.48c-12.995,0.119-25.188,6.304-32.96,16.72
                            c-11.12,13.84-17.28,35.04-18.48,61.2c-13.12-25.92-28.8-44.32-46-52.32c-11.428-5.999-24.994-6.354-36.72-0.96
                            c-11.908,5.356-20.961,15.544-24.88,28c-2.679,9.115-3.2,18.729-1.52,28.08c-9.214,2.58-17.703,7.263-24.8,13.68
                            c-9.526,8.901-14.795,21.447-14.48,34.48c0.156,12.883,6.271,24.966,16.56,32.72c14.88,11.92,38.16,18.16,67.04,18.56
                            c-23.12,12.32-39.52,27.04-47.2,43.12c-6.026,11.484-6.352,25.122-0.88,36.88c5.357,11.861,15.51,20.88,27.92,24.8
                            c5.547,1.692,11.32,2.529,17.12,2.48c3.754-0.008,7.5-0.329,11.2-0.96c2.532,9.216,7.19,17.71,13.6,24.8
                            c8.844,9.463,21.29,14.726,34.24,14.48c12.995-0.119,25.188-6.304,32.96-16.72c3.516-4.519,6.445-9.465,8.72-14.72
                            c-0.019,38.763-4.203,77.411-12.48,115.28c-1.018,4.299,1.643,8.61,5.942,9.628c0.674,0.16,1.366,0.231,2.058,0.212h30.24
                            c3.23-0.016,6.133-1.973,7.36-4.96c17.52-42.72,13.04-91.12,5.6-125.68c5.081,4.826,10.85,8.87,17.12,12
                            c6.145,3.047,12.901,4.661,19.76,4.72c5.836-0.144,11.571-1.564,16.8-4.16c11.924-5.258,21.035-15.358,25.04-27.76
                            c2.695-9.14,3.215-18.783,1.52-28.16c9.213-2.54,17.705-7.197,24.8-13.6c9.526-8.901,14.795-21.447,14.48-34.48
                            C379.414,184.311,373.223,172.048,362.763,164.242z M66.523,149.282l0.24,0.08c-6.608-4.75-10.582-12.343-10.72-20.48
                            c0-27.76,29.68-33.28,32.8-33.76c1.514,0.196,3.052-0.083,4.4-0.8c3.294-1.927,4.768-5.913,3.52-9.52v-0.56c0,0,0,0,0-0.56
                            s-10.16-32,16-44.48c7.402-3.391,15.97-3.094,23.12,0.8c23.04,11.12,44.16,47.04,57.28,97.04c0.88,4.8,1.76,9.6,2.88,14.48
                            c0.382,1.796,1.371,3.406,2.8,4.56c-1.626-0.836-3.489-1.09-5.28-0.72c-4.96,1.2-9.76,2.48-14.48,3.76
                            C127.963,168.802,86.523,165.282,66.523,149.282z M214.363,168.482c-4.215,0.848-7.006,4.876-6.32,9.12l0.56,2.72
                            c-0.194,1.004-0.194,2.036,0,3.04c0.72,2.96,1.44,5.76,2.16,8.56c3.175,17.119,4.649,34.511,4.4,51.92
                            c-0.64,24-5.68,43.28-15.04,55.04c-4.759,6.598-12.346,10.57-20.48,10.72c-27.52,0-33.04-29.44-33.6-32.8
                            c0.191-1.514-0.088-3.05-0.8-4.4c-1.879-3.213-5.726-4.705-9.28-3.6h-0.96c0,0-32,10.16-44.56-16
                            c-3.403-7.4-3.107-15.973,0.8-23.12c10.8-22.4,44.96-42.88,92.72-56l8-1.52c1.007-0.241,1.958-0.676,2.8-1.28l2.72-0.64
                            c4.277-1.028,6.922-5.317,5.92-9.6c-0.486-1.854-1.621-3.472-3.2-4.56c1.164,0.693,2.486,1.078,3.84,1.12h1.68
                            c4.304-0.956,7.023-5.214,6.08-9.52l-1.12-2.08c0.194-1.004,0.194-2.036,0-3.04c-0.64-2.88-1.36-5.68-2.08-8.4
                            c-8.56-48.4-4.8-88,10.64-107.2c4.674-6.644,12.2-10.704,20.32-10.96c27.52,0,33.04,29.44,33.6,32.8
                            c-0.191,1.514,0.088,3.05,0.8,4.4c1.92,3.256,5.857,4.724,9.44,3.52h0.88c0,0,32-10.16,44.48,16c3.403,7.4,3.107,15.973-0.8,23.12
                            c-10.72,22.24-44.64,42.72-92.08,56l-7.92,1.76c-0.974,0.227-1.896,0.634-2.72,1.2l-2.72,0.72c-4.122,0.992-6.754,5.028-6,9.2
                            l0.24,0.08c0.416,1.738,1.401,3.287,2.8,4.4C217.96,168.384,216.128,168.131,214.363,168.482z M241.643,403.202h-15.2
                            c5.2-25.68,17.44-96,7.2-148.64C241.003,275.602,262.203,345.602,241.643,403.202z M330.603,230.962
                            c-1.488-0.169-2.992,0.109-4.32,0.8c-3.45,1.955-4.947,6.141-3.52,9.84v0.56c0,0,0,0,0,0.56s10.16,32-16,44.48
                            c-7.402,3.391-15.97,3.094-23.12-0.8c-13.68-6.56-26.64-21.84-37.68-43.68c-8.266-16.937-14.754-34.685-19.36-52.96
                            c-0.88-4.8-1.76-9.68-2.88-14.64c-0.43-1.901-1.54-3.579-3.12-4.72c1.148,0.652,2.44,1.009,3.76,1.04h1.84
                            c4.88-1.12,9.68-2.4,14.32-3.68c50.72-9.76,92.32-6.32,112,9.68c6.608,4.75,10.582,12.343,10.72,20.48
                            C363.563,225.042,333.563,230.562,330.603,230.962z"/>
                    </svg>
                    Loterie</h2>
                <p>Loterie sur place avec découverte instantanée du lot ! Vous n'avez pas besoin d'attendre le tirage pour savoir si vous avez étés chanceux ;-)</p>

                <h2 class="deco">
                    <svg height="30px" width="30px"  fill="#ce2c44" viewBox="0 -9 511.99933 511" xmlns="http://www.w3.org/2000/svg"><path d="m281.082031 62.140625c-15.9375-2.476563-30.957031 8.460937-33.488281 24.421875-1.207031 7.734375.667969 15.472656 5.28125 21.785156 4.613281 6.316406 11.414062 10.457032 19.148438 11.660156 1.523437.238282 3.039062.351563 4.535156.351563 14.175781 0 26.671875-10.324219 28.929687-24.742187 2.484375-15.925782-8.449219-30.9375-24.375-33.46875-.011719-.003907-.019531-.003907-.03125-.007813zm4.667969 30.394531c-.789062 5.058594-5.570312 8.527344-10.648438 7.734375-2.464843-.382812-4.628906-1.699219-6.09375-3.707031-1.464843-2.003906-2.058593-4.460938-1.679687-6.894531.730469-4.601563 4.722656-7.898438 9.238281-7.898438.46875 0 .945313.035157 1.425782.109375 5.066406.8125 8.546874 5.59375 7.757812 10.65625zm0 0"/><path d="m313.449219 162.417969c-1.226563 7.710937.632812 15.4375 5.234375 21.765625 4.617187 6.34375 11.421875 10.5 19.167968 11.710937 1.519532.238281 3.027344.355469 4.523438.351563 14.15625 0 26.671875-10.316406 28.964844-24.742188 1.207031-7.730468-.667969-15.46875-5.277344-21.792968-4.613281-6.328126-11.417969-10.476563-19.15625-11.679688h.003906c-15.964844-2.488281-30.976562 8.464844-33.460937 24.386719zm36.472656-.9375c1.46875 2.015625 2.0625 4.480469 1.683594 6.914062-.808594 5.070313-5.601563 8.546875-10.675781 7.761719-2.457032-.382812-4.621094-1.707031-6.089844-3.726562-1.457032-2.003907-2.046875-4.441407-1.65625-6.902344.71875-4.585938 4.691406-7.871094 9.203125-7.871094.476562 0 .960937.035156 1.445312.113281 2.457031.382813 4.621094 1.699219 6.089844 3.710938zm0 0"/><path d="m382.589844 268.117188c4.613281 6.324218 11.417968 10.476562 19.152344 11.679687 1.527343.242187 3.058593.359375 4.578124.359375 6.152344 0 12.128907-1.9375 17.199219-5.632812 6.332031-4.613282 10.480469-11.410157 11.6875-19.140626 1.207031-7.722656-.667969-15.457031-5.28125-21.777343-4.617187-6.320313-11.417969-10.46875-19.152343-11.675781-15.960938-2.488282-30.96875 8.449218-33.460938 24.390624-1.207031 7.734376.667969 15.472657 5.277344 21.796876zm14.460937-18.710938c.714844-4.574219 4.6875-7.847656 9.191407-7.847656.480468 0 .964843.035156 1.449218.113281h.007813c2.457031.382813 4.621093 1.703125 6.089843 3.714844 1.464844 2.007812 2.0625 4.460937 1.679688 6.914062s-1.703125 4.613281-3.714844 6.078125c-2.011718 1.46875-4.476562 2.066406-6.933594 1.679688-2.460937-.382813-4.621093-1.699219-6.089843-3.710938-1.46875-2.015625-2.066407-4.480468-1.679688-6.941406zm0 0"/><path d="m502.109375 53.855469c-8.085937-11.085938-19.964844-18.351563-33.445313-20.464844l-56.15625-8.78125c-5.4375-.851563-10.5625 2.875-11.410156 8.328125-.855468 5.449219 2.875 10.558594 8.324219 11.410156l56.152344 8.78125c8.210937 1.285156 15.453125 5.726563 20.398437 12.5 4.941406 6.773438 6.953125 15.019532 5.664063 23.21875l-32.316407 206.1875c-2.414062 15.402344-15.769531 26.441406-30.90625 26.441406-1.589843 0-3.199218-.121093-4.820312-.375l-112.203125-17.570312v-69.972656c0-28.25-22.996094-51.234375-51.261719-51.234375h-57.863281l21.214844-135.417969c1.285156-8.210938 5.734375-15.453125 12.523437-20.398438 6.777344-4.933593 15.019532-6.9375 23.226563-5.640624l71.71875 11.273437c5.441406.855469 10.5625-2.867187 11.417969-8.316406.855468-5.449219-2.867188-10.5625-8.316407-11.417969l-71.710937-11.273438c-13.476563-2.128906-27 1.148438-38.097656 9.226563-11.105469 8.085937-18.382813 19.964844-20.5 33.453125l-21.695313 138.515625h-130.785156c-28.265625-.003906-51.261719 22.980469-51.261719 51.230469v208.679687c0 28.265625 22.996094 51.257813 51.261719 51.257813h208.867187c28.265625 0 51.261719-22.992188 51.261719-51.257813v-118.484375l109.125 17.085938c2.65625.414062 5.292969.613281 7.898437.613281 24.804688 0 46.6875-18.089844 50.644532-43.324219l32.316406-206.183594c2.113281-13.476562-1.175781-27.003906-9.265625-38.089843zm-210.695313 388.382812c0 17.246094-14.035156 31.28125-31.285156 31.28125h-208.867187c-17.25 0-31.285157-14.035156-31.285157-31.28125v-208.679687c0-17.234375 14.035157-31.253906 31.285157-31.253906h139.304687.039063.03125 69.492187c17.25 0 31.28125 14.019531 31.28125 31.253906v208.679687zm0 0"/><path d="m79.242188 239.714844c-16.152344 0-29.292969 13.132812-29.292969 29.277344 0 16.144531 13.140625 29.28125 29.292969 29.28125 16.167968 0 29.320312-13.136719 29.320312-29.28125 0-16.144532-13.152344-29.277344-29.320312-29.277344zm0 38.578125c-5.136719 0-9.316407-4.171875-9.316407-9.300781 0-5.125 4.179688-9.300782 9.316407-9.300782 5.152343 0 9.34375 4.175782 9.34375 9.300782 0 5.128906-4.191407 9.300781-9.34375 9.300781zm0 0"/><path d="m156.035156 304.496094c-16.152344 0-29.292968 13.136718-29.292968 29.277344 0 16.160156 13.140624 29.308593 29.292968 29.308593s29.292969-13.144531 29.292969-29.308593c0-16.140626-13.140625-29.277344-29.292969-29.277344zm0 38.609375c-5.136718 0-9.316406-4.183594-9.316406-9.328125 0-5.128906 4.179688-9.300782 9.316406-9.300782 5.136719 0 9.316406 4.171876 9.316406 9.300782 0 5.144531-4.179687 9.328125-9.316406 9.328125zm0 0"/><path d="m232.121094 240.023438c-16.152344 0-29.292969 13.136718-29.292969 29.28125 0 16.144531 13.140625 29.277343 29.292969 29.277343 16.167968 0 29.320312-13.132812 29.320312-29.277343 0-16.144532-13.15625-29.28125-29.320312-29.28125zm0 38.582031c-5.136719 0-9.316406-4.171875-9.316406-9.300781 0-5.128907 4.179687-9.300782 9.316406-9.300782 5.152344 0 9.34375 4.171875 9.34375 9.300782 0 5.128906-4.191406 9.300781-9.34375 9.300781zm0 0"/><path d="m79.242188 377.210938c-16.152344 0-29.292969 13.132812-29.292969 29.277343s13.140625 29.28125 29.292969 29.28125c16.167968 0 29.320312-13.136719 29.320312-29.28125s-13.152344-29.277343-29.320312-29.277343zm0 38.578124c-5.136719 0-9.316407-4.171874-9.316407-9.300781 0-5.128906 4.179688-9.300781 9.316407-9.300781 5.152343 0 9.34375 4.171875 9.34375 9.300781 0 5.128907-4.191407 9.300781-9.34375 9.300781zm0 0"/><path d="m232.121094 377.523438c-16.152344 0-29.292969 13.132812-29.292969 29.277343s13.140625 29.28125 29.292969 29.28125c16.167968 0 29.320312-13.136719 29.320312-29.28125s-13.15625-29.277343-29.320312-29.277343zm0 38.578124c-5.136719 0-9.316406-4.171874-9.316406-9.300781 0-5.128906 4.179687-9.300781 9.316406-9.300781 5.152344 0 9.34375 4.171875 9.34375 9.300781 0 5.128907-4.191406 9.300781-9.34375 9.300781zm0 0"/><path d="m370.34375 38.242188.171875.027343c.554687.09375 1.105469.140625 1.652344.140625 4.796875 0 9.027343-3.464844 9.839843-8.347656.90625-5.441406-2.769531-10.589844-8.207031-11.496094l-.171875-.027344c-5.453125-.910156-10.589844 2.769532-11.496094 8.210938-.90625 5.4375 2.769532 10.585938 8.210938 11.492188zm0 0"/></svg>
                    Animation jeux</h2>
                <img class="align-self-center w-75 img-responsive m-3"
                     src="{{ asset('/pictures/oika.png') }}"
                     alt="Illustration de oika">
                <p>Aurélie animera des parties de jeux de sociétés pour les plus jeunes. Que vous soyez exposants et que vous vouliez calmer les enfants impatients ou que vous soyez visiteurs
                    en recherche de divertissement, vous trouverez ce que vous cherchez à son stand. Rien de tel qu'un moment de rigolade aprés avoir trouvé la bonne affaire sur le vide grenier.
                    Attention, les enfants sont sous la responsabilité de leurs parents.</p>

                <h2 class="deco">
                    <?xml version="1.0"?>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ce2c44" id="Icons" viewBox="0 0 74 74" width="30" height="30"><path d="M38.4,72a22.488,22.488,0,0,1-7.762-1.351h0c-8.918-3.269-14.867-8.417-17.68-15.3-4.617-11.3.865-23.076,1.1-23.571a1,1,0,0,1,1.867.161,13.173,13.173,0,0,0,4.1,5.836c2.289-11.488,12.31-18.44,12.755-18.745,6.466-5.176,1.185-15.46,1.131-15.563a1,1,0,0,1,1.515-1.241C53.233,16.676,52.209,31.23,50.772,37.21A9.7,9.7,0,0,0,54.4,28.236a1,1,0,0,1,1.818-.7,45.31,45.31,0,0,1,4.674,9.623A27.328,27.328,0,0,1,56.2,63.527l-.214.261A22.7,22.7,0,0,1,38.4,72Zm-7.074-3.229A20.492,20.492,0,0,0,38.4,70,20.71,20.71,0,0,0,54.44,62.516l.2-.25A25.34,25.34,0,0,0,59,37.821a45.333,45.333,0,0,0-2.688-6.149c-1.1,6.017-6.857,8.815-6.927,8.848a1,1,0,0,1-1.332-1.331c.316-.678,7.2-16.1-10.92-32.841,1.156,4.007,1.847,10.274-3.171,14.288-.167.118-10.787,7.506-12.237,19.1a1,1,0,0,1-1.554.7A18.559,18.559,0,0,1,15,34.859C13.687,38.7,11.659,46.9,14.814,54.6c2.594,6.335,8.149,11.1,16.511,14.166Z"/><path d="M34.139,71.592a1,1,0,0,1-.644-.235C20.752,60.615,29.73,46.878,29.822,46.741a1,1,0,0,1,1.829.494,6.707,6.707,0,0,0,1.56,4.191,20.323,20.323,0,0,1,8.815-19.648A1,1,0,0,1,43.418,33.1a6.942,6.942,0,0,0-.806,3.385,7.34,7.34,0,0,0,1.256,3.837l.4.611a62.7,62.7,0,0,0,4.3,5.662,17.628,17.628,0,0,1,2.839,4.833c5.012,10.333-3.6,18.478-3.684,18.56a1,1,0,0,1-1.36-1.466c.313-.292,7.625-7.26,3.223-16.265a.966.966,0,0,1-.045-.109,15.726,15.726,0,0,0-2.512-4.275,64.528,64.528,0,0,1-4.437-5.845l-.4-.611a9.341,9.341,0,0,1-1.582-4.89,9,9,0,0,1,.052-1.167c-2.88,2.723-7.1,8.52-5.11,18a1,1,0,0,1-1.269,1.163,6.829,6.829,0,0,1-4.06-4.287c-1.774,4.04-3.9,12.461,4.559,19.594a1,1,0,0,1-.645,1.765Z"/></svg>

                    Le clou du spectacle</h2>
                <img class="align-self-center w-75 img-responsive m-3"
                     src="{{ asset('/pictures/cracheurs.png') }}"
                     alt="Illustration de Vicky et James">
                <p>James et Vicky, les dompteurs de feu viendront donner une touche spectaculaire et mystérieuse à ce vide grenier. De 16h30 à 17h, il vous feront découvrir leur habileté dans la manipulation du feu.
                    Ma fille me dit que c'est impossible de cracher du feu, et vos enfants, ils y croient ?</p>

                <h2 class="deco">
                    <?xml version="1.0"?>
                    <svg id="Capa_1" enable-background="new 0 0 512 512" fill="#ce2c44" height="30" viewBox="0 0 512 512" width="30" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m490.304 214.93c-17.321-34.333-43.461-62.375-75.621-81.736l11.193-33.991 9.808 3.23c1.896.622 3.846.932 5.789.932 2.872 0 5.729-.676 8.373-2.011 4.438-2.241 7.732-6.064 9.274-10.758l8.818-26.765c3.195-9.73-2.117-20.244-11.839-23.437l-35.913-11.82c-3.934-1.295-8.172.844-9.468 4.779-1.295 3.934.845 8.173 4.779 9.468l35.917 11.822c1.837.602 2.878 2.668 2.275 4.502l-8.818 26.765c-.395 1.203-1.288 1.804-1.786 2.054-.498.252-1.516.613-2.718.22l-105.275-34.668c-1.192-.392-1.786-1.277-2.033-1.77-.251-.5-.612-1.519-.214-2.732l8.818-26.765c.395-1.202 1.288-1.804 1.785-2.054.499-.25 1.516-.613 2.716-.221l37.329 12.303c3.933 1.297 8.173-.842 9.47-4.775 1.297-3.934-.842-8.173-4.775-9.47l-37.337-12.306c-4.7-1.541-9.728-1.159-14.163 1.08-4.438 2.241-7.732 6.063-9.273 10.757l-8.818 26.765c-3.197 9.734 2.103 20.249 11.809 23.437l9.815 3.232-11.208 33.973c-15.295-1.435-30.726-1.093-46.186 1.051-4.103.568-6.968 4.355-6.399 8.457.568 4.103 4.362 6.974 8.457 6.399 28.303-3.922 56.508-1.346 83.84 7.659 47.326 15.591 85.747 48.672 108.186 93.15 22.439 44.477 26.21 95.028 10.619 142.342-32.155 97.667-137.793 150.962-235.484 118.807-47.311-15.578-85.723-48.654-108.159-93.138-22.436-44.483-26.207-95.038-10.616-142.353 18.413-55.942 62.869-100.377 118.921-118.863 3.933-1.298 6.07-5.538 4.773-9.472-1.298-3.932-5.534-6.068-9.472-4.773-12.727 4.198-25.035 9.689-36.689 16.319h-60.082c-4.142 0-7.499 3.357-7.499 7.499s3.357 7.499 7.499 7.499h37.404c-6.69 5.092-13.069 10.58-19.055 16.458-20.939 20.565-37.263 45.867-47.539 73.533h-52.44c-4.142 0-7.499 3.357-7.499 7.499s3.357 7.499 7.499 7.499h47.523c-8.469 29.639-10.019 60.266-4.773 89.964h-80.108c-4.142 0-7.499 3.357-7.499 7.499s3.357 7.499 7.499 7.499h83.361c3.6 14.005 8.734 27.725 15.402 40.947 9.203 18.247 20.9 34.711 34.66 49.045h-67.409c-4.142 0-7.499 3.357-7.499 7.499s3.357 7.499 7.499 7.499h83.502c19.26 16.062 41.571 28.508 66.107 36.586 20.852 6.864 42.027 10.124 62.872 10.123 84.661-.006 163.671-53.812 191.548-138.484 16.846-51.117 12.771-105.734-11.473-153.789zm-146.163-107.942 10.326-31.299 57.162 18.824-10.31 31.309c-8.922-4.487-18.238-8.347-27.899-11.53-9.667-3.185-19.437-5.611-29.279-7.304z"/><path d="m7.499 145.552h93.254c4.142 0 7.499-3.357 7.499-7.499s-3.357-7.499-7.499-7.499h-93.254c-4.142 0-7.499 3.357-7.499 7.499s3.357 7.499 7.499 7.499z"/><path d="m37.488 183.049c-4.142 0-7.499 3.357-7.499 7.499s3.357 7.499 7.499 7.499h70.493c4.142 0 7.499-3.357 7.499-7.499s-3.357-7.499-7.499-7.499z"/><path d="m67.747 295.51c0-4.142-3.357-7.499-7.499-7.499h-52.749c-4.142 0-7.499 3.357-7.499 7.499s3.357 7.499 7.499 7.499h52.749c4.142.001 7.499-3.357 7.499-7.499z"/><path d="m97.736 400.501c0-4.142-3.357-7.499-7.499-7.499h-36.734c-4.142 0-7.499 3.357-7.499 7.499s3.356 7.499 7.499 7.499h36.734c4.142 0 7.499-3.357 7.499-7.499z"/><path d="m159.672 256.062c-27.359 83.115 17.991 172.989 101.09 200.343 16.33 5.381 33.111 8.052 49.819 8.052 24.481 0 48.803-5.736 71.296-17.081 37.842-19.088 65.989-51.773 79.255-92.034.021-.064.041-.128.061-.192l.059-.196c27.111-82.982-18.27-172.676-101.195-199.982-15.281-5.094-31.401-7.799-47.503-8.036-16.184-.239-32.383 2.054-47.871 6.75-8.863 2.687-17.488 6.153-25.756 10.325-37.841 19.095-65.988 51.785-79.255 92.051zm289.447 87.114-106.284-35.002c.517-5.941-.614-11.923-3.366-17.38-2.753-5.458-6.892-9.923-11.976-13.036l34.919-106.016c68.285 26.462 105.856 100.748 86.707 171.434zm-130.763-22.168c-4.167 2.1-8.901 2.453-13.334.996-9.144-3.009-14.132-12.901-11.122-22.053 2.414-7.337 9.261-11.999 16.601-11.999 1.803 0 3.637.282 5.44.874.003.001.005.002.008.003s.005.001.008.002c4.426 1.458 8.019 4.553 10.119 8.716s2.454 8.897.999 13.328c-.001.002-.001.003-.002.005s-.001.005-.002.007c-1.457 4.427-4.552 8.021-8.715 10.121zm-8.101-159.084c12.682 0 25.413 1.708 37.909 5.129l-34.919 106.016c-5.942-.517-11.924.614-17.381 3.367-1.852.934-3.586 2.032-5.197 3.267l-50.028-45.603c-3.062-2.79-7.805-2.571-10.595.49s-2.57 7.804.49 10.595l50.684 46.2c-.596 1.251-1.125 2.542-1.565 3.88-2.71 8.236-2.052 17.034 1.852 24.776 3.906 7.743 10.593 13.501 18.828 16.21 2.154.709 4.347 1.162 6.548 1.413l2.548 21.814c.446 3.819 3.686 6.63 7.439 6.63.291 0 .585-.018.88-.052 4.114-.48 7.059-4.205 6.578-8.319l-2.556-21.883c1.131-.422 2.246-.903 3.339-1.454 5.458-2.753 9.923-6.892 13.035-11.978l106.318 35.013c-11.907 30.946-33.789 56.436-62.551 72.891l-8.367-16.592c-1.865-3.699-6.375-5.185-10.072-3.319-3.698 1.864-5.184 6.374-3.319 10.072l8.379 16.616c-30.339 13.461-63.882 15.984-95.893 7.219l5.839-17.722c1.297-3.933-.842-8.173-4.776-9.469-3.938-1.298-8.174.842-9.469 4.776l-5.84 17.724c-31.789-12.316-56.911-34.978-72.762-62.813l16.539-8.341c3.698-1.865 5.184-6.374 3.319-10.072-1.864-3.699-6.375-5.187-10.072-3.319l-16.521 8.332c-12.874-29.286-16.096-62.925-7.06-95.771l17.465 5.762c.78.258 1.572.38 2.35.38 3.149 0 6.08-1.999 7.12-5.152 1.298-3.933-.839-8.174-4.772-9.471l-17.442-5.754c12.004-30.824 33.92-56.201 62.684-72.557l8.216 16.251c1.32 2.611 3.96 4.118 6.699 4.118 1.138 0 2.293-.261 3.378-.809 3.696-1.869 5.178-6.38 3.309-10.076l-8.198-16.217c18.39-8.1 37.94-12.198 57.61-12.198z"/></g></g></svg>
                    Le mot de la fin</h2>
                <p>Pour discuter devant un rafraichissement sous un air d'accordéon, pour rigoler avec des jeux ou admirer la maitrise des cracheurs de feu; pour trouver la perle rare ou pour faire de la place dans la maison : Il n'y a que des raisons de venir, on n'attend plus que vous !</p>

                <a class="btn btn-primary mr-auto ml-auto" href="{{ path('contact') }}">Hey ! J'ai des questions</a>
                <a class="btn btn-primary mr-auto ml-auto" href="https://www.cdf-villereau.fr/content/vide-grenier-2021">Plus</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
