{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    {% include 'home/_intro.html.twig' %}

    {#
    <section class="container mt-1">
        <h2>Vous avez dit "Cadavre Exquis" ?</h2>

        <p>Le principe du cadavre exquis est d'écrire tous ensemble une  histoire : chacun participe à l'écriture d'un texte sans en connaitre le début ni la fin puisque
        d'autres personnes sont aussi en train d'écrire cette histoire.</p>

        <p>Les participants écrivent à tour de rôle un morceau de texte avec pour seul coup de pouce le texte laissé par le
        participant précédent.</p>

        <p>Villereau a essayé !</p>
    </section>

    <section class="container mt-1 pt-2">
        <h2>Et ça a donné quoi ?</h2>

        Retrouvez le texte complet içi : <a class="darklink" href="{{ path('final') }}">La mystérieuse Carotarêve</a>

        <p>Si vous avez des idées, suggestions ou simplement un commentaire à nous faire : <a class="btn btn-primary" href="{{ path('contact') }}">Contactez-nous</a></p>
    </section>

    <div class="container d-none">
        <div class="row">
            <section class="mt-1 pt-2 col-12 col-md-6">
                <h2>Les chapitres </h2>

                <ul>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre1'}) }}">Une impression de déjà vu</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre2'}) }}">Le lapin parlant de l'école</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre3'}) }}">La forêt multicolore</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre4'}) }}">Cascades à répétitions et poissons d'avril</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre5'}) }}">L'embarras du choix</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre6'}) }}">La Carotarêve</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre7'}) }}">Contre la montre magique</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre8'}) }}">Et ensuite...</a></li>
                </ul>
            </section>

            <section class="col-12 col-md-6">
                <h2>Les chapitres 'enfants'</h2>

                <ul>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre9'}) }}">Trois semaines plus tard.</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre10'}) }}">Ne touche pas à ça !</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre11'}) }}">De drôles de cachettes.</a></li>
                </ul>
            </section>
        </div>

    </div>
#}



    {% include 'home/_content.html.twig' %}
{#

    {% include 'home/_agenda.html.twig' %}

#}
{% endblock %}
