{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    {% include 'home/_intro.html.twig' %}

    <section class="container mt-1">
        <h2>Que se passe-t-il ?</h2>

        <p>Le principe du cadavre exquis est d'écrire tous ensemble une  histoire : chacun participe à l'écriture d'un texte sans en connaitre le début ni la fin puisque
        d'autres personnes sont aussi en train d'écrire cette histoire.</p>

        <p>Les participants écrivent à tour de rôle un morceau de texte avec pour seul coup de pouce le texte laissé par le
        participant précédent.</p>

        <p>Testez ce jeu peu commun avec Villereau !</p>
    </section>

    <section class="container mt-1 pt-2">
        <h2>Comment joue-t-on ?</h2>

        <p>Vous trouverez ci dessous des liens vers les 11 chapitres de "La mystérieuse Carotarêve", une aventure dans un monde féérique.
        Vous pourrez participer aux chapitres que vous souhaitez.</p>

        <p>Les 3 chapitres 'enfants' constituent une suite qui s'adresse plutôt aux enfants de moins de dix ans.</p>

        <li>Cliquez sur le chapitre auquel vous souhaitez participer.</li>
        <li>Inspirez vous de "les questions auxquelles il faut répondre" pour savoir ce que les personnages cherchent à faire.</li>
        <li>Puis vous pouvez lire le texte laissé par le joueur précédent</li>
        <li>Enfin, à vous d'imaginer une suite au texte du joueur précédent, en apportant votre touche personnelle"</li>
        <br/>
        <p>Le texte complet sera disponible sur cette page le 9 avril.</p>

        <p>Si vous avez des idées, suggestions ou simplement un commentaire à nous faire : <a class="btn btn-primary" href="{{ path('contact') }}">Contactez-nous</a></p>
    </section>

    <div class="container">
        <div class="row">
            <section class="mt-1 pt-2 col-12 col-md-6">
                <h2>Les chapitres </h2>

                <ul>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre1'}) }}">Une impression de déjà vu</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre2'}) }}">Le lapin parlant de l'école</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre3'}) }}">La forêt multicolore</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre4'}) }}">Cascades à répétitions et poissons d'avril</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre5'}) }}">L'embarras du choix</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre6'}) }}">La Carotarêve</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre7'}) }}">Contre la montre magique</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre8'}) }}">Et ensuite...</a></li>
                </ul>
            </section>

            <section class="col-12 col-md-6">
                <h2>Les chapitres 'enfants'</h2>

                <ul>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre9'}) }}">Trois semaines plus tard.</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre10'}) }}">Ne touche pas à ça !</a></li>
                    <li><a class="darklink" href="{{ path('chapter', {'code' : 'chapitre11'}) }}">De drôles de cachettes.</a></li>
                </ul>
            </section>
        </div>

    </div>

{#
    {% include 'home/_content.html.twig' %}
    {% include 'home/_agenda.html.twig' %}

#}
{% endblock %}
