<div class="blog-main-content">
    {%  include 'tools/_h1.html.twig' with {'titleStart' : 'A la', 'titleEnd' : 'une'} %}
    <a href="{{ path('content_show', {'slug': content.slug}) }}"><h3 class="blog-card-title">{{content.title}}</h3></a>

    <a href="{{ path('content_show', {'slug': content.slug}) }}">
        <img class="blog-card-image" src="/pictures/content/{{ content.picture ?? 'emptyContentPicture.jpg' }}" alt="{{content.title}} illustration">
    </a>

    <div class="blog-card-body">
        <div class="blog-card-details">Publié le {{content.date|format_datetime(locale="fr", pattern = "EEEE dd MMMM Y")}} dans la catégorie {{content.category.name}}</div>

        <p class="blog-card-text light">{{content.text|u.truncate(500)}}...</p>

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Modifier',
            'path': path('content_edit', {'id': content.id})
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Envoyer cet article aux abonnés par email',
            'path': path('content_notify', {'id': content.id})
        } %}

    </div>
</div>
