<div class="blog-card">
    <a href="{{ path('content_show', {'slug': content.slug}) }}">
        <img class="blog-card-image" src="{{asset('/pictures/content/'~(content.picture ?? 'emptyContentPicture.jpg')|imagine_filter('blog_miniature2')) }}" alt="{{content.title}} illustration">
    </a>
    <div class="blog-card-body">
        <div class="blog-card-details">Publié le {{content.date|format_datetime(locale="fr", pattern = "EEEE dd MMMM Y")}}</div>
        <a  class="blog-card-title" href="{{ path('content_show', {'slug': content.slug}) }}"><h3>{{content.title}}</h3></a>

        <div class="blog-card-text">
            {% apply markdown_to_html %}
                {{ content.text }}
            {% endapply %}
        </div>

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Modifier',
            'path': path('content_edit', {'id': content.id})
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Envoyer cet article aux abonnés par email',
            'path': path('content_notify', {'id': content.id})
        } %}

    </div>
</div>
