{{ form_start(form) }}

    <div class="form-group row">
        {{ form_label(form.title, 'Choisissez un titre : ') }}
        <div class="col-sm-12 col-md-9">{{ form_widget(form.title, { 'attr': {'class': 'w-100'} }) }}</div>
        <div class="col-12">{{ form_errors(form.title) }}</div>
    </div>

    <div class="form-group row">
        {{ form_label(form.date, 'Choisissez une date : ') }}
        <div class="col-sm-12 col-md-9">{{ form_widget(form.date, { 'attr': {'class': 'w-100'} }) }}</div>
        <div class="col-12">{{ form_errors(form.date) }}</div>
    </div>

    <div class="form-group row">
        {{ form_label(form.text, 'Texte : ') }}
        <div class="col-sm-12 col-md-9">{{ form_widget(form.text, { 'attr': {'class': 'w-100'} }) }}</div>
        <div class="col-12">{{ form_errors(form.text) }}</div>
    </div>

    <div class="form-group row">
        {{ form_label(form.category, 'Catégorie : ') }}
        <div class="col-sm-12 col-md-9">{{ form_widget(form.category, { 'attr': {'class': 'w-100'} }) }}</div>
        <div class="col-12">{{ form_errors(form.category) }}</div>
    </div>

    <div class="form-group row ">
        {{ form_label(form.pictureFile, 'Sélectionnez l\'image : ') }}
        <div class="img-wrapper w-50 overflow-hidden"><div class="col-sm-12 col-md-8">{{ form_widget(form.pictureFile) }}</div></div>
        <div class="col-12">{{ form_errors(form.pictureFile) }}</div>
    </div>

    {% include 'tools/_backButton.html.twig' with {
        'text': 'Revenir à la liste des articles',
        'path': path('content_index')
    } %}

    {% include 'tools/_formAdminValidateButton.html.twig' with {
        'path': path('content_index')
    } %}

{{ form_end(form) }}


