{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('contentpage') }}

{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('contentpage') }}
{% endblock %}

{% block body %}

    <section class="container">

        {%  include 'tools/_h1.html.twig' with {'titleStart' : 'TOUS VOS', 'titleEnd' : 'ARTICLES'} %}

        {% include 'tools/_backButton.html.twig' with {
            'text': 'Revenir à la page d\'accueil',
            'path': path('home')
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Créer un nouvel article',
            'path': path('content_new')
        } %}


            <div class="card-deck justify-content-center mt-5">
                {% for content in contents %}
                {#{% include 'content/_contentCard2.html.twig' %}#}
                    <div class="card">
                        <img class="card-img-top h-40 fit-cover" src="/pictures/content/{{ content.picture ?? 'emptyContentPicture.jpg' }}" alt="{{content.title}} illustration">

                        <div class="card-body">
                            <h3>{{content.title}}</h3>
                            <p class="card-text blog-card-text">{{content.text|u.truncate(125)}}...</p>
                            <a class="btn btn-primary stretched-link" href="{{ path('content_show', {'slug': content.slug}) }}">Voir l'article</a>
                        </div>
                    </div>

                {% else %}
                    Aucun article d'information n'est enregistré à l'heure actuelle.
                {% endfor %}
            </div>


        {% include 'tools/_backButton.html.twig' with {
        'text': 'Revenir à la page d\'accueil',
        'path': path('home')
        } %}

        {% include 'tools/_adminButton.html.twig' with {
        'text': 'Créer un nouvel article',
        'path': path('content_new')
        } %}

    </section>

{% endblock %}
