{% extends 'base.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('showcontent') }}
    {{ encore_entry_link_tags('bootstrap-gallery') }}
{% endblock %}

{% block facebook %}
    <meta property="og:url"           content="https://www.cdf-villereau.fr/content/{{content.slug}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Le site du Comité des fêtes de Villereau" />
    <meta property="og:description"   content="{{ content.metadescription ?: 'Encore une super publication du Comité des Fêtes de Villereau' }}" />
    <meta property="og:image"         content="/pictures/content/{{ content.picture ?? 'emptyContentPicture.jpg' }}" />
{% endblock %}

{% block metadescription %}{{ content.metadescription ?: 'Encore une super animation pour tous le monde avec le Comité des Fêtes de Villereau' }}{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('showcontent') }}
{% endblock %}

{% block body %}
    <section class="container">

        {%  include 'tools/_h1.html.twig' with {'titleStart' : content.title, 'titleEnd' : ''} %}

        <div class="main-picture-wrapper container">
            <img class="main-picture" src="/pictures/content/{{ content.picture ?? 'emptyContentPicture.jpg' }}" alt="{{ content.title }}">
        </div>

        <div class="text">
            {% apply markdown_to_html %}
                {{ content.text }}
            {% endapply %}
        </div>
        <div class="fb-like"
             data-href="https://www.cdf-villereau.fr/content/{{content.slug}}"
             data-width=""
             data-layout="button_count"
             data-action="like"
             data-size="large"
             data-share="true">
        </div>

        {% set galleryPictures = [] %}
        {% for picture in content.pictures %}
            {% set galleryPicture =  "/pictures/picture/"~picture.picture %}
            {% set galleryPictures = galleryPictures|merge([ asset(galleryPicture) ]) %}
        {% endfor %}

        {% include 'tools/_bootstrapGallery.html.twig' with {
            'path': '',
            'pictures' : galleryPictures,
            'title' : content.title~' sous tous les angles'
        } %}

        <p class="detail">Publié le {{content.date|format_datetime(locale="fr", pattern = "EEEE dd MMMM Y")}} dans la catégorie {{ content.category ? content.category.name : 'Aucune catégorie n\'est définie' }}</p>
        {% if content.writer is not empty %}
            <p class="detail">par {{content.writer}}</p>
        {% endif %}

        {% include 'tools/_backButton.html.twig' with {
            'text': 'Revenir à la liste des articles',
            'path': path('content_index_category', {'id':content.category.id})
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'path': path('content_edit', {'id': content.id})
        } %}

        {% include'tools/_deleteButton.html.twig' with {
            'path': path('content_delete', {'id': content.id}),
            'tokenIndex' : content.id
        } %}
    </section>

    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'titleStart' : 'QUELQUES ARTICLES', 'titleEnd' : 'AU HASARD'} %}

        <div class="row">
            <div class="blog-row row col-6">
                {% for content in contents %}
                    {% include 'content/_contentCard2.html.twig' %}
                {% endfor %}
            </div>
        </div>

        {% include 'tools/_backButton.html.twig' with {
            'text': 'Revenir à la liste des articles',
            'path': path('content_index')
        } %}
    </section>
{% endblock %}
