{% extends 'cadavre-base.html.twig' %}

{% block title %}Détail de la contribution{% endblock %}

{% block body %}
    <section class="container">
        <h1>Détail de la contribution</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sentence.id }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ sentence.text }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ sentence.pseudo }}</td>
            </tr>
            <tr>
                <th>Chapitre</th>
                <td>{{ sentence.chapter.id }} - {{ sentence.chapter.title }}</td>
            </tr>
            <tr>
                <th>Précédent</th>
                <td>{{ sentence.previous.id }} </td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('sentence_index') }}">Revenir à la liste des contributuions</a>

        <a href="{{ path('sentence_edit', {'id': sentence.id}) }}">Modifier la contribution</a>

        {{ include('sentence/_delete_form.html.twig') }}
    </section>

{% endblock %}
