{% extends 'base.html.twig' %}

{% block title %}StatTag index{% endblock %}

{% block body %}
    <section class="container">
        <h1>Index des marqueurs statistiques</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Sessionid</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for stat_tag in stat_tags %}
                <tr>
                    <td>{{ stat_tag.id }}</td>
                    <td>{{ stat_tag.name }}</td>
                    <td>{{ stat_tag.date ? stat_tag.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ stat_tag.sessionid }}</td>
                    <td class="d-flex">
                        <a  class="btn btn-primary mr-3"  href="{{ path('stat_tag_show', {'id': stat_tag.id}) }}">show</a>
                        <a  class="btn btn-primary mr-3"  href="{{ path('stat_tag_edit', {'id': stat_tag.id}) }}">edit</a>
                        {{ include('stat_tag/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('stat_tag_new') }}">Create new</a>
    </section>

{% endblock %}
