<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <style></style>
        {% endblock %}
    </head>
    <body style="

                ">
        {% block body %}
            <header>

            </header>

            <div class="container" style="
                background-color: #F0EFEA;
                width:90%;
                height:100%;
                padding:100px;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color : #444444;
                font-size: 15px;
            ">
                {% block main %}
                    <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                color : #444444;
                                font-size: 20px;">
                        {% block object %}{% endblock %}
                    </h1>

                    <p style="color:#642247ee; font-weight:bold; width:80%;">
                        {% block intro %}
                            Bonjour,
                        {% endblock %}
                    </p>

                    <div style="max-width:1000px;">
                        {% block message %}{% endblock %}
                    </div>

                    <p style="color:#642247ee; font-weight:bold; width:80%;">
                        {% block regards %}
                            Cordialement
                        {% endblock %}
                    </p>

                    <p style="width:80%;">
                        {% block conclusion %}
                            <p style="margin:0; padding:0;">{{ company_name }}</p>
                            {% if (company_site is defined) %}
                                <a href="{{ company_site }}"> {{ company_site }} </a>
                            {% endif %}
                        {% endblock %}
                    </p>
                {% endblock %}
            </div>

            <footer>
                {% block footer %}{% endblock %}

                {% if secret is defined %}
                    <p>Si vous ne souhaitez plus recevoir nos messages, vous pouvez vous désinscrire grâce au bouton ci dessous :</p>
                    <a style="
                    font-size: 1.0rem;
                    color: #F0EFEA;
                    border-radius: 5px;
                    background-color: #622247;
                    border-color: #622247;
                    text-decoration: none;
                    padding: 0.25rem 0.5rem;
                "
                       href="{{ app.request.schemeAndHttpHost }}{{ path('confirmStopPub', {'secret':secret}) }}">
                        Me désinscrire
                    </a>
                {% endif %}
            </footer>

        {% endblock %}
    </body>
</html>
