{% extends 'base.html.twig' %}

{% block title %}Email{% endblock %}

{% block body %}
    <section class="container">
        <h1>Email</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ newsletter_email.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ newsletter_email.email }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ newsletter_email.date ? newsletter_email.date|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Secret</th>
                    <td>{{ newsletter_email.secret }}</td>
                </tr>
                <tr>
                    <th>Professionnel</th>
                    <td>{{ newsletter_email.professional ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Membre</th>
                    <td>{{ newsletter_email.member ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Spécial</th>
                    <td>{{ newsletter_email.special ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Enregistré</th>
                    <td>{{ newsletter_email.registered ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('newsletter_email_index') }}">Revenir à la liste des e-mails</a>

        <a href="{{ path('newsletter_email_edit', {'id': newsletter_email.id}) }}">Modifier l'e-mail</a>

        {{ include('newsletter_email/_delete_form.html.twig') }}
    </section>
{% endblock %}
