{% extends 'email.html.twig' %}

{% block title %}Un nouvel article est disponible{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block message %}
    <h2 style="
        color:#D72C16;
    ">La mairie de Villereau souhaite vous informer de l'évolution de l'article \"{{ content.title }}\"</h2>

    <div class="card content-card">
        <h5 class="card-title">{{content.title}}</h5>
        <img class="card-img-top" src="{{ email.image('@pictures/content/emptyContentPicture.jpg') }}" alt="Card image cap">
        <h6 class="card-title">Publié le {{content.date|date("d/m/Y")}}</h6>

        <div class="card-body">

            <p class="card-text">{{content.text|u.truncate(125)}}...</p>

            {% include 'tools/_seeButton.html.twig' with {
                'text': 'Voir l\'article',
                'path': path('content_show', {'id': content.id})
            } %}
        </div>
    </div>
{% endblock %}
